
/* ------------------- */
/* Variables           */
/* ------------------- */
:root{
    --main-color:#000000;

    /* fonts */

    --ff-trade-gothic:"trade-gothic-next-compressed", sans-serif;

    /* font weights */

    --fw-nav:400;

    /* hamburger menu vaiables */

    --bar-width:30px;
    --bar-height:1px;
    --bar-gap:11px;
    --foreground:#606060;
    --background:#FFFFFF;
    --animation-timing:200ms ease-in-out;
    --hamburger-height: calc(var(--bar-height) * 3  + var(--bar-gap) * 2);


}


/* ------------------- */
/* CSS - Reset               */
/* ------------------- */

/* Box sizing */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Reset margins */
body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
    margin: 0;
}

/* set up the body */
body {
    line-height: 1.5;
    min-height: 100dvh;
    overflow-x: hidden;
    position: relative;
    color: var(--main-color);
}

/* make images easier to work with */
img,
picture {
    max-width: 100%;
    display: block;
}

/* make form elements easier to work with */
input,
button,
textarea,
select {
    font: inherit;
}

ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* remove animations for people who've turned them off */
@media (prefers-reduced-motion: reduce) {  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* ------------------- */
/*       Nav           */
/* ------------------- */
body{
    /* border: 5px solid green; */
    /* background-color: red; */
}
#nav{
    /* border: 1px solid red; */
    display: flex;
    gap: 8.4375rem;
    align-items: center;
    margin-left: 3.9063rem;
    margin-top: 2.0313rem;
}
.primary-nav-svg{
    width: 8.8791px;
    height: 9.0395px;
    
}

.logo{
    width: 196.188px;
    height: 57.5965px;
}
.nav-links{
    text-decoration: none;
    color: var(--main-color);
    font-style: normal;
    font-family: var(--ff-trade-gothic);
    font-weight: var(--fw-nav);
    font-size: 1.25rem;
}

.primary-nav{
    display: flex;
    gap: 2.6875rem;
    height: 100%;
    /* border: 1px solid black; */
    padding: 0;
}

.primary-nav-item{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5938rem;
    height: 100%;
    /* border: 1px solid blue; */
}

.primary-nav-item:hover{
    cursor: pointer;
}


.hamburger-menu{
    display: none;
}

/* tablet and mobile  */
@media (max-width:950px){
    .primary-nav-wrapper{
        background-color: white;
        position: fixed;
        top: 0;
        right: 0;
        height: 100%;
        width: 100%;
        transform: translateX(-100%);
    }

    .primary-nav{
        flex-direction: column;
        gap: 1rem;
        align-items: flex-start;
        padding-left: 1rem;
    }

    .nav-links{
        font-size: 2rem;
    }
    .primary-nav-svg{
        width: 16px;
        height: 18px;
    }
    #nav{
        margin-left: 1.375rem;
        margin-right: 1.375rem;
        justify-content: space-between;
    }

    .hamburger-menu{
        --x-width:calc(var(--hamburger-height) * 1.41421356237); /* the length of the bar when its an X (hamburger menu height  * squareroot of 2) */
        display: flex;
        flex-direction: column;
        gap: var(--bar-gap);
        width: max-content;
        z-index: 2;
        cursor: pointer;
    }

    .hamburger-menu::before,
    .hamburger-menu::after,
    .hamburger-menu input{
        content: "";
        width: var(--bar-width);
        height: var(--bar-height);
        background-color: var(--foreground);
        border-radius: 9999px;
        transform-origin: left center;
        transition: opacity var(--animation-timing), width var(--animation-timing),translate var(--animation-timing),rotate var(--animation-timing);
       
    }
    
    .hamburger-menu input{
        appearance: none;
        padding: 0;
        margin: 0;
        outline: none;
        pointer-events: none;
    }

    .hamburger-menu:has(input:checked)::before{
        rotate: 45deg;
        width: var(--x-width);
        translate: 0 calc(var(--bar-height) / -2);
       
    }

    .hamburger-menu:has(input:checked)::after{
        rotate: -45deg;
        width: var(--x-width);
        translate: 0 calc(var(--bar-height)/2);
        
    }
    .hamburger-menu input:checked{
        opacity: 0;
        width: 0;
    }
}
/* ------------------- */
/*       hero          */
/* ------------------- */

/* ------------------- */
/*       about         */
/* ------------------- */

/* ------------------- */
/*       service        */
/* ------------------- */

/* ------------------- */
/*       topics         */
/* ------------------- */

/* ------------------- */
/*       company       */
/* ------------------- */

/* ------------------- */
/*       contact       */
/* ------------------- */

/* ------------------- */
/*       footer        */
/* ------------------- */