
/* ------------------- */
/* Variables           */
/* ------------------- */
:root{
    --main-color:#000000;
}


/* ------------------- */
/* CSS - Reset               */
/* ------------------- */

/* Box sizing */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Reset margins */
body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
    margin: 0;
}

/* set up the body */
body {
    line-height: 1.5;
    min-height: 100dvh;
    font-size: 15px;
    overflow-x: hidden;
    position: relative;
    color: var(--main-color);
}

/* make images easier to work with */
img,
picture {
    max-width: 100%;
    display: block;
}

/* make form elements easier to work with */
input,
button,
textarea,
select {
    font: inherit;
}

ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* remove animations for people who've turned them off */
@media (prefers-reduced-motion: reduce) {  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* ------------------- */
/*       Nav           */
/* ------------------- */
body{
    border: 5px solid green;
}
#nav{
    border: 1px solid red;
    display: flex;
    gap: 135px;
    align-items: center;
    margin-left: 62.5px;
    margin-top: 32.5px;
}
.primary-nav-svg{
    width: 8.8px;
    height: 9px;
}

.logo{
    width: 196.188px;
    height: 57.5965px;
}
.nav-links{
    text-decoration: none;
    color: var(--main-color);
    font-style: italic;
}

.primary-nav{
    display: flex;
    gap: 43px;
    height: 100%;
    border: 1px solid black;
    padding: 0;
}

.primary-nav-item{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 9.5px;
    height: 100%;
    border: 1px solid blue;
}

.primary-nav-item{
    cursor: pointer;
}
/* ------------------- */
/*       hero          */
/* ------------------- */

/* ------------------- */
/*       about         */
/* ------------------- */

/* ------------------- */
/*       service        */
/* ------------------- */

/* ------------------- */
/*       topics         */
/* ------------------- */

/* ------------------- */
/*       company       */
/* ------------------- */

/* ------------------- */
/*       contact       */
/* ------------------- */

/* ------------------- */
/*       footer        */
/* ------------------- */