
/* ------------------- */
/* Variables           */
/* ------------------- */
:root{
    --main-color:#000000;

    /* fonts */

    --ff-trade-gothic:"trade-gothic-next-compressed", sans-serif;

    /* font weights */

    --fw-nav:400;



}


/* ------------------- */
/* CSS - Reset               */
/* ------------------- */

/* Box sizing */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Reset margins */
body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
    margin: 0;
}

/* set up the body */
body {
    line-height: 1.5;
    min-height: 100dvh;
    overflow-x: hidden;
    position: relative;
    color: var(--main-color);
}

/* make images easier to work with */
img,
picture {
    max-width: 100%;
    display: block;
}

/* make form elements easier to work with */
input,
button,
textarea,
select {
    font: inherit;
}

ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* remove animations for people who've turned them off */
@media (prefers-reduced-motion: reduce) {  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* ------------------- */
/*       Nav           */
/* ------------------- */
body{
    /* border: 5px solid green; */
}
#nav{
    /* border: 1px solid red; */
    display: flex;
    gap: 8.4375rem;
    align-items: center;
    margin-left: 3.9063rem;
    margin-top: 2.0313rem;
}
.primary-nav-svg{
    width: 8.8791px;
    height: 9.0395px;
    
}

.logo{
    width: 196.188px;
    height: 57.5965px;
}
.nav-links{
    text-decoration: none;
    color: var(--main-color);
    font-style: normal;
    font-family: var(--ff-trade-gothic);
    font-weight: var(--fw-nav);
    font-size: 1.25rem;
}

.primary-nav{
    display: flex;
    gap: 2.6875rem;
    height: 100%;
    /* border: 1px solid black; */
    padding: 0;
}

.primary-nav-item{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5938rem;
    height: 100%;
    /* border: 1px solid blue; */
}

.primary-nav-item{
    cursor: pointer;
}
/* ------------------- */
/*       hero          */
/* ------------------- */

/* ------------------- */
/*       about         */
/* ------------------- */

/* ------------------- */
/*       service        */
/* ------------------- */

/* ------------------- */
/*       topics         */
/* ------------------- */

/* ------------------- */
/*       company       */
/* ------------------- */

/* ------------------- */
/*       contact       */
/* ------------------- */

/* ------------------- */
/*       footer        */
/* ------------------- */